[core]
	editor = nvim

[user]
	email = bramjanssen@hey.com
	name = Bram

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
